*
{
	margin:0;
}

body{
	background: #02010a;
	color: white;
	font-size: 16px;
	font-family: 'Dancing Script';
  font-size: 14pt;
}

#contenedor{
	width: 900px;
	margin: 0 auto;
  min-height: 200px;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

#tituloheader{
  width: 70%;
  text-indent: 15px;
}

#menuheader{
  width: 30%;
  font-size: 18pt;
}

#menuheader a, #menuheader a:hover{
  color: #fff;
  padding: 5px 10px;
}

#menuheader a + a::before {
  color: #fff;
  text-decoration: none;
}

#menuheader .actual{
  text-decoration: none;
}

#imagencentral{
  background: #82c3a6;
  padding: 20px;
}

img{
  width: 100%;
}

#secundario{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}

.imagensecundaria{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
}

.paginasecundaria{
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

}
.paisaje{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}

.paisaje:hover{
  transform: rotate(10deg);
}

.retrato{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}

.retrato:hover{
  transform: translate(20px, -5px);
}

.img1{
  -webkit-filter:blur(10px);
  filter: blur(10px);
  box-shadow: 5px 5px 5px black;
}

.img2{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  box-shadow: 5px 5px 5px black;
}

.img3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
  box-shadow: 5px 5px 5px black;
}

.img4{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  box-shadow: 5px 5px 5px black;
}

.img5{
  box-shadow: 5px 5px 5px black;
}

.img6{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  box-shadow: 5px 5px 5px black;
}

footer{

  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #C6d5c5;
  padding: 15px 0;
  color: black;
  border-radius: 0 0 10px 10px;

}
footer .columna{

  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;

}

.iconored{

  width: 15px;

}
